
<div class="footer container-fluid mt-4 mb-0 bg-dark text-light" id="FOOTER">
    <div class="row pt-3">
        @* Cột 1: Thông tin liên hệ *@
        <div class="col-12 col-md-6 col-xl-3 mb-4">
            <span class="h4 text-uppercase">Thong tin lien he</span>
            <ul class="list-unstyled mt-2">
                <li class="ms-2 mb-3">
                    <a class="text-decoration-none text-reset d-flex align-items-center" href="https://zalo.me/0328884320">
                        <img src="@Url.Content("~/Images/zalo.png")" height="40" width="40" class="rounded-circle" loading="lazy" alt="Zalo">
                        <span class="ms-2 fs-5 fw-semibold">0328884320</span>
                    </a>
                </li>
                <li class="ms-2 mb-3">
                    <a class="text-decoration-none text-reset d-flex align-items-center" href="mailto:23050118@student.bdu.edu.vn">
                        <img src="@Url.Content("~/Images/gmail.png")" height="40" width="40" class="rounded-circle" loading="lazy" alt="Gmail">
                        <span class="ms-2 fs-5 fw-semibold">23050118@student.bdu.edu.vn</span>
                    </a>
                </li>
                <li class="ms-2 mb-3">
                    <a class="text-decoration-none text-reset d-flex align-items-center" href="https://www.facebook.com/share/14QaznFt8ZF">
                        <img src="@Url.Content("~/Images/facebook.png")" height="40" width="40" class="rounded-circle" loading="lazy" alt="Facebook">
                        <span class="ms-2 fs-5 fw-semibold">Tuan Anh</span>
                    </a>
                </li>
                <li class="ms-2 mb-3">
                    <a class="text-decoration-none text-reset d-flex align-items-center" href="">
                        <img src="@Url.Content("~/Images/youtube.png")" height="40" width="40" class="rounded-circle" loading="lazy" alt="Youtube">
                        <span class="ms-2 fs-5 fw-semibold">n_t_anh</span>
                    </a>
                </li>
            </ul>
        </div>

        @* Cột 2: Chính sách *@
        <div class="col-12 col-md-6 col-xl-3 mb-4">
            <span class="h4 text-uppercase">Chinh sach va ho tro</span>
            <ul class="list-unstyled mt-2">
                <li class="ms-2 mb-1"><a href="#" class="fs-5 text-decoration-none text-reset">Chinh sach bao hanh</a></li>
                <li class="ms-2 mb-1"><a href="#" class="fs-5 text-decoration-none text-reset">Chinh sach doi tra / hoan tien</a></li>
                <li class="ms-2 mb-1"><a href="#" class="fs-5 text-decoration-none text-reset">Chinh sach giao hang</a></li>
                <li class="ms-2 mb-4"><a href="#" class="fs-5 text-decoration-none text-reset">Bao mat thong tin khach hang</a></li>
                <li class="ms-2 mb-1"><a href="#" class="fs-5 text-decoration-none text-reset">Huong dan mua hang Online</a></li>
                <li class="ms-2 mb-1"><a href="#" class="fs-5 text-decoration-none text-reset">Huong dan kiem tra chat luong may</a></li>
                <li class="ms-2 mb-1"><a href="#" class="fs-5 text-decoration-none text-reset">Cac cau hoi thuong gap</a></li>
            </ul>
        </div>

        @* Cột 3: Đăng ký nhận tin *@
        <div class="col-12 col-md-6 col-xl-3 mb-4">
            <span class="h4 text-uppercase">Dang ky nhan thong bao</span>
            <form action="" method="post" class="mt-4 d-flex flex-column">
                <div class="form-floating mb-4 ms-0">
                    <input type="text" class="form-control" id="ft_ip1" placeholder="Nhập tên của bạn">
                    <label for="ft_ip1" class="text-dark">Nhap ten cua ban</label>
                </div>
                <div class="form-floating mb-4 ms-0">
                    <input type="email" class="form-control w-100" id="ft_ip2" placeholder="Nhập email của bạn">
                    <label for="ft_ip2" class="text-dark">Nhap email cua ban</label>
                </div>
                <button type="submit" class="btn btn-danger mb-4 w-100 fs-5 fw-semibold rounded-pill">
                    Dang Ky
                </button>
            </form>
        </div>

        @* Cột 4: Về chúng tôi *@
        <div class="col-12 col-md-6 col-xl-3 mb-4">
            <span class="h4 text-uppercase">Ve chung toi</span>
            <ul class="list-unstyled mt-3">
                <li class="ms-2 mb-3">
                    <i class="bi bi-shop me-2 fs-5"></i>
                    He thong ban dien thoai cu chat luong cao, gia phu hop voi hoc sinh - sinh vien. Kem theo nhieu uu dai khac nua danh cho khach hang!
                </li>
                <li class="ms-2 mb-3 fs-6">
                    <i class="bi bi-geo-alt-fill me-2 fs-5"></i>
                    504 Dai lo Binh Duong, P. Phu Loi, TP. Ho Chi Minh
                </li>
                <li class="ms-2 mb-3">
                    <i class="bi bi-clock-fill fs-5 me-2"></i>
                    07:30 - 22h30, from Monday to Sunday
                </li>
            </ul>
        </div>
    </div>

    @* Copyright Row *@
    <div class="row mb-0">
        <div class="col-12">
            <p class="text-center mt-0 fw-semibold">
                &copy;CopyRight by BDUer Vjppro from class 26TH02 (Nguyen Tuan Anh - Le Ngoc Sang - Nguyen Manh Phat - Le Dinh Tuyen). 06, Oct, 2025
            </p>
        </div>
    </div>
</div>