/****** Object:  Database [OldPhone]    Script Date: 11/29/2025 9:07:44 AM ******/
CREATE DATABASE [OldPhone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OldPhone', FILENAME = N'D:\SQL_sever\MSSQL16.SQLEXPRESS\MSSQL\DATA\OldPhone.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OldPhone_log', FILENAME = N'D:\SQL_sever\MSSQL16.SQLEXPRESS\MSSQL\DATA\OldPhone_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OldPhone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  User [user001]    Script Date: 11/29/2025 9:07:44 AM ******/
CREATE USER [user001] FOR LOGIN [user001] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [user001]
GO
ALTER ROLE [db_datareader] ADD MEMBER [user001]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [user001]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 11/29/2025 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[account_first_name] [nvarchar](30) NOT NULL,
	[account_last_name] [nvarchar](30) NOT NULL,
	[account_email] [varchar](30) NOT NULL,
	[account_gender] [bit] NOT NULL,
	[account_date] [datetime] NOT NULL,
	[account_password] [nvarchar](255) NOT NULL,
	[role_id] [tinyint] NOT NULL,
	[RememberMeToken] [nvarchar](100) NULL,
	[TokenExpiryDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 11/29/2025 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[blog_id] [int] IDENTITY(1,1) NOT NULL,
	[blog_name] [nvarchar](255) NOT NULL,
	[blog_author] [nvarchar](255) NOT NULL,
	[blog_link] [ntext] NOT NULL,
	[blog_time] [datetime] NOT NULL,
	[blog_img] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[blog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 11/29/2025 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[variant_id] [int] NOT NULL,
	[cart_count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 11/29/2025 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[company_id] [int] IDENTITY(1,1) NOT NULL,
	[company_name] [nvarchar](100) NOT NULL,
	[company_desc] [nvarchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detail]    Script Date: 11/29/2025 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detail](
	[detail_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[variant_id] [int] NULL,
	[detail_name] [nvarchar](255) NOT NULL,
	[detail_count] [int] NOT NULL,
	[detail_total_price] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotline]    Script Date: 11/29/2025 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotline](
	[hotline_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[hotline_name] [nvarchar](100) NOT NULL,
	[hotline_address] [nvarchar](500) NOT NULL,
	[hotline_phonenumber] [varchar](20) NOT NULL,
	[hotline_default] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[hotline_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_]    Script Date: 11/29/2025 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NULL,
	[hotline_id] [int] NULL,
	[order_buy_time] [datetime] NOT NULL,
	[order_rec_time] [datetime] NOT NULL,
	[order_type_pay] [nvarchar](30) NOT NULL,
	[order_total_price] [bigint] NOT NULL,
	[order_state] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phone]    Script Date: 11/29/2025 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phone](
	[product_id] [int] NOT NULL,
	[phone_chip] [nvarchar](50) NOT NULL,
	[phone_screen_size] [nvarchar](50) NULL,
	[phone_front_cam] [nvarchar](50) NOT NULL,
	[phone_behind_cam] [nvarchar](50) NOT NULL,
	[phone_battery] [int] NOT NULL,
	[phone_system] [nvarchar](50) NOT NULL,
	[phone_charging_port] [nvarchar](50) NOT NULL,
	[phone_sim_card] [int] NOT NULL,
	[phone_nfc] [bit] NOT NULL,
	[phone_ear_phone] [nvarchar](50) NOT NULL,
	[phone_memory_card] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/29/2025 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NULL,
	[product_name] [nvarchar](100) NOT NULL,
	[product_desc] [ntext] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Image]    Script Date: 11/29/2025 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Image](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[image_url] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/29/2025 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [tinyint] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 11/29/2025 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[sale_id] [int] IDENTITY(1,1) NOT NULL,
	[sale_name] [nvarchar](100) NOT NULL,
	[sale_start] [datetime] NOT NULL,
	[sale_end] [datetime] NOT NULL,
	[variant_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[sale_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 11/29/2025 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[variant_id] [int] NOT NULL,
	[stock_count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[variant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Variant_Phone]    Script Date: 11/29/2025 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Variant_Phone](
	[variant_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[variant_ph_ram] [int] NOT NULL,
	[variant_ph_rom] [int] NOT NULL,
	[variant_ph_color] [nvarchar](50) NOT NULL,
	[variant_ph_org_price] [bigint] NOT NULL,
	[variant_ph_new_price] [bigint] NOT NULL,
	[variant_ph_final_price] [bigint] NOT NULL,
	[variant_ph_img] [nvarchar](255) NULL,
	[variant_ph_state] [ntext] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[variant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([account_id], [account_first_name], [account_last_name], [account_email], [account_gender], [account_date], [account_password], [role_id], [RememberMeToken], [TokenExpiryDate]) VALUES (1, N'Admin', N'Nguyen', N'anhnguyentaun@gmail.com', 1, CAST(N'2005-10-06T00:00:00.000' AS DateTime), N'c4ca4238a0b923820dcc509a6f75849b', 1, NULL, NULL)
INSERT [dbo].[Account] ([account_id], [account_first_name], [account_last_name], [account_email], [account_gender], [account_date], [account_password], [role_id], [RememberMeToken], [TokenExpiryDate]) VALUES (2, N' Admin', N'Nguyễn Tuấn', N'tuananhnguyen2555@gmail.com', 1, CAST(N'2005-10-06T00:00:00.000' AS DateTime), N'c81e728d9d4c2f636f067f89cc14862c', 2, N'9ad74c6c49084f9bb96746ad3a48c768', CAST(N'2025-12-29T08:52:05.993' AS DateTime))
INSERT [dbo].[Account] ([account_id], [account_first_name], [account_last_name], [account_email], [account_gender], [account_date], [account_password], [role_id], [RememberMeToken], [TokenExpiryDate]) VALUES (3, N'An', N'Nguyễn Văn', N'an.nguyen@test.com', 1, CAST(N'1995-01-15T00:00:00.000' AS DateTime), N'e10adc3949ba59abbe56e057f20f883e', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

INSERT [dbo].[Blog] ([blog_id], [blog_name], [blog_author], [blog_link], [blog_time], [blog_img]) VALUES (1, N'TOP điện thoại Android ấn tượng & thất vọng', N'Pnghuy', N'https://tinhte.vn/thread/top-dien-thoai-android-minh-an-tuong-nhat-that-vong-nhat-tu-truoc-den-nay.3961856/', CAST(N'2025-02-22T00:00:00.000' AS DateTime), N'https://photo2.tinhte.vn/data/attachment-files/2025/02/8648952_cover-tinhte-top-ranking-android.jpg')
INSERT [dbo].[Blog] ([blog_id], [blog_name], [blog_author], [blog_link], [blog_time], [blog_img]) VALUES (2, N'Review Xiaomi 15 Ultra', N'cuhiep', N'https://tinhte.vn/thread/review-xiaomi-15-ultra-may-dep-camera-ngon-zoom-khong-can-nghi.4017323/', CAST(N'2025-05-10T00:00:00.000' AS DateTime), N'https://photo2.tinhte.vn/data/attachment-files/2025/05/8728225_Review-Xiaomi-15-Ultra-tinhte-cuhiep-024.jpg')
INSERT [dbo].[Blog] ([blog_id], [blog_name], [blog_author], [blog_link], [blog_time], [blog_img]) VALUES (3, N'Review Sony Xperia 1 V', N'Pnghuy', N'https://tinhte.vn/thread/review-sony-xperia-1-v-dien-thoai-danh-cho-fan-dich-thuc.3731002/', CAST(N'2023-10-24T00:00:00.000' AS DateTime), N'https://photo2.tinhte.vn/data/attachment-files/2023/10/8162850_cover-danh-gia-sony-tinhte-30.jpg')
SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([cart_id], [account_id], [variant_id], [cart_count]) VALUES (1, 2, 42, 1)
INSERT [dbo].[Cart] ([cart_id], [account_id], [variant_id], [cart_count]) VALUES (3, 2, 68, 1)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([company_id], [company_name], [company_desc]) VALUES (1, N'APPLE', N'Mỹ')
INSERT [dbo].[Company] ([company_id], [company_name], [company_desc]) VALUES (2, N'SAMSUNG', N'Hàn Quốc')
INSERT [dbo].[Company] ([company_id], [company_name], [company_desc]) VALUES (3, N'OPPO', N'Trung Quốc')
SET IDENTITY_INSERT [dbo].[Company] OFF
GO
SET IDENTITY_INSERT [dbo].[Detail] ON 

INSERT [dbo].[Detail] ([detail_id], [order_id], [variant_id], [detail_name], [detail_count], [detail_total_price]) VALUES (1, 1, 14, N'Iphone 14', 1, 18700000)
INSERT [dbo].[Detail] ([detail_id], [order_id], [variant_id], [detail_name], [detail_count], [detail_total_price]) VALUES (2, 2, 5, N'Iphone 11', 5, 13800000)
INSERT [dbo].[Detail] ([detail_id], [order_id], [variant_id], [detail_name], [detail_count], [detail_total_price]) VALUES (3, 3, 68, N'Xiaomi 12', 1, 3712500)
SET IDENTITY_INSERT [dbo].[Detail] OFF
GO
SET IDENTITY_INSERT [dbo].[Hotline] ON 

INSERT [dbo].[Hotline] ([hotline_id], [account_id], [hotline_name], [hotline_address], [hotline_phonenumber], [hotline_default]) VALUES (1, 1, N'Nguyễn Tuấn Anh Admin', N'Thôn 7, xã Cẩm Xuyên, tỉnh Hà Tĩnh', N'0328884320', 1)
INSERT [dbo].[Hotline] ([hotline_id], [account_id], [hotline_name], [hotline_address], [hotline_phonenumber], [hotline_default]) VALUES (2, 1, N'Nguyễn Tuấn Anh Admin', N'Kp. Bình Hòa, Lải Thiều, TP.Thuận An', N'0328884320', 0)
INSERT [dbo].[Hotline] ([hotline_id], [account_id], [hotline_name], [hotline_address], [hotline_phonenumber], [hotline_default]) VALUES (3, 2, N'Nguyễn Tuấn Anh User', N'Thôn 7, xã Cẩm Xuyên, tỉnh Hà Tĩnh', N'0328884320', 1)
SET IDENTITY_INSERT [dbo].[Hotline] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_] ON 

INSERT [dbo].[Order_] ([order_id], [account_id], [hotline_id], [order_buy_time], [order_rec_time], [order_type_pay], [order_total_price], [order_state]) VALUES (1, 2, 3, CAST(N'2025-11-29T08:59:39.800' AS DateTime), CAST(N'2025-11-29T08:59:52.853' AS DateTime), N'COD', 18700000, 3)
INSERT [dbo].[Order_] ([order_id], [account_id], [hotline_id], [order_buy_time], [order_rec_time], [order_type_pay], [order_total_price], [order_state]) VALUES (2, 1, 1, CAST(N'2025-11-29T09:02:23.893' AS DateTime), CAST(N'2025-11-29T09:02:37.443' AS DateTime), N'COD', 69000000, 3)
INSERT [dbo].[Order_] ([order_id], [account_id], [hotline_id], [order_buy_time], [order_rec_time], [order_type_pay], [order_total_price], [order_state]) VALUES (3, 2, 3, CAST(N'2025-11-29T09:04:52.797' AS DateTime), CAST(N'2025-12-02T09:04:52.797' AS DateTime), N'COD', 3712500, 0)
SET IDENTITY_INSERT [dbo].[Order_] OFF
GO
INSERT [dbo].[Phone] ([product_id], [phone_chip], [phone_screen_size], [phone_front_cam], [phone_behind_cam], [phone_battery], [phone_system], [phone_charging_port], [phone_sim_card], [phone_nfc], [phone_ear_phone], [phone_memory_card]) VALUES (1, N'Apple A11 Bionic', N'5.8 inch', N'7 MP, f/2.2', N'12 MP + 12 MP (wide+tele)', 2716, N'iOS 11', N'Lightning', 1, 1, N'Lightning', 0)
INSERT [dbo].[Phone] ([product_id], [phone_chip], [phone_screen_size], [phone_front_cam], [phone_behind_cam], [phone_battery], [phone_system], [phone_charging_port], [phone_sim_card], [phone_nfc], [phone_ear_phone], [phone_memory_card]) VALUES (2, N'Apple A12 Bionic', N'5.8 inch OLED', N'7 MP, f/2.2', N'12 MP + 12 MP (wide+tele)', 2658, N'iOS 12 (up to iOS 16)', N'Lightning', 1, 1, N'Lightning EarPods', 0)
INSERT [dbo].[Phone] ([product_id], [phone_chip], [phone_screen_size], [phone_front_cam], [phone_behind_cam], [phone_battery], [phone_system], [phone_charging_port], [phone_sim_card], [phone_nfc], [phone_ear_phone], [phone_memory_card]) VALUES (3, N'Apple A13 Bionic', N'6.1 inch Liquid Retina IPS LCD', N'12 MP', N'12 MP + 12 MP (wide+ultrawide)', 3110, N'iOS 13 (up to iOS 17)', N'Lightning', 2, 1, N'Lightning EarPods', 0)
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([product_id], [company_id], [product_name], [product_desc]) VALUES (1, 1, N'Iphone X', N'iPhone X mang tính đột phá với thiết kế tai thỏ, loại bỏ nút Home vật lý. Sở hữu màn hình OLED 5.8 inch sắc nét, chip A11 Bionic mạnh mẽ và Face ID bảo mật cao cấp.')
INSERT [dbo].[Product] ([product_id], [company_id], [product_name], [product_desc]) VALUES (2, 1, N'Iphone XS', N'Phiên bản nâng cấp của iPhone X với hiệu năng vượt trội nhờ chip A12 Bionic. Màn hình Super Retina OLED hiển thị HDR sống động, khả năng chống nước chuẩn IP68.')
INSERT [dbo].[Product] ([product_id], [company_id], [product_name], [product_desc]) VALUES (3, 1, N'Iphone 11', N'Sự lựa chọn hoàn hảo với nhiều màu sắc trẻ trung. Chip A13 Bionic cân mọi tác vụ, cụm camera kép chụp đêm ấn tượng và thời lượng pin trâu bò.')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_Image] ON 

INSERT [dbo].[Product_Image] ([image_id], [product_id], [image_url]) VALUES (1, 1, N'https://res.cloudinary.com/dp5ipjzct/image/upload/v1764056275/pdt_1__v1__1_iili1z.jpg')
INSERT [dbo].[Product_Image] ([image_id], [product_id], [image_url]) VALUES (2, 1, N'https://res.cloudinary.com/dp5ipjzct/image/upload/v1764056275/pdt_1__v1__1_iili1z.jpg')
INSERT [dbo].[Product_Image] ([image_id], [product_id], [image_url]) VALUES (3, 2, N'https://res.cloudinary.com/dp5ipjzct/image/upload/v1764056310/pdt_2__v2__1_koxdra.jpg')
GO
SET IDENTITY_INSERT [dbo].[Product_Image] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (2, N'Admin')
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (1, N'User')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Sale] ON 

INSERT [dbo].[Sale] ([sale_id], [sale_name], [sale_start], [sale_end], [variant_id]) VALUES (1, N'Giảm giá tháng 12', CAST(N'2025-11-29T08:54:35.883' AS DateTime), CAST(N'2025-12-29T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Sale] ([sale_id], [sale_name], [sale_start], [sale_end], [variant_id]) VALUES (2, N'Giảm giá tháng 12', CAST(N'2025-11-29T08:54:35.883' AS DateTime), CAST(N'2025-12-29T00:00:00.000' AS DateTime), 3)
INSERT [dbo].[Sale] ([sale_id], [sale_name], [sale_start], [sale_end], [variant_id]) VALUES (3, N'Giảm giá tháng 12', CAST(N'2025-11-29T08:54:35.883' AS DateTime), CAST(N'2025-12-29T00:00:00.000' AS DateTime), 6)
SET IDENTITY_INSERT [dbo].[Sale] OFF
GO
INSERT [dbo].[Stock] ([variant_id], [stock_count]) VALUES (1, 28)
INSERT [dbo].[Stock] ([variant_id], [stock_count]) VALUES (2, 22)
INSERT [dbo].[Stock] ([variant_id], [stock_count]) VALUES (3, 34)
GO
SET IDENTITY_INSERT [dbo].[Variant_Phone] ON 

INSERT [dbo].[Variant_Phone] ([variant_id], [product_id], [variant_ph_ram], [variant_ph_rom], [variant_ph_color], [variant_ph_org_price], [variant_ph_new_price], [variant_ph_final_price], [variant_ph_img], [variant_ph_state]) VALUES (1, 1, 3, 64, N'White', 26000000, 15600000, 11700000, N'https://res.cloudinary.com/dp5ipjzct/image/upload/v1764069194/pdt_1__v1_mwkjqt.jpg', N'Máy dùng khoảng 5 tháng, ngoại hình đẹp 90%, trầy nhẹ ở viền. Hoạt động ổn định, pin tốt. Kèm sạc và kính cường lực. Bảo hành 4 tháng.')
INSERT [dbo].[Variant_Phone] ([variant_id], [product_id], [variant_ph_ram], [variant_ph_rom], [variant_ph_color], [variant_ph_org_price], [variant_ph_new_price], [variant_ph_final_price], [variant_ph_img], [variant_ph_state]) VALUES (2, 1, 3, 128, N'Black', 31000000, 18600000, 18600000, N'https://res.cloudinary.com/dp5ipjzct/image/upload/v1764069194/pdt_1__v1_mwkjqt.jpg', N'Máy sử dụng 7 tháng, độ mới 92%. Vỏ có vài vết xước nhỏ. Hiệu năng tốt, không lỗi. Kèm sạc + ốp lưng. Bảo hành 4 tháng.')
INSERT [dbo].[Variant_Phone] ([variant_id], [product_id], [variant_ph_ram], [variant_ph_rom], [variant_ph_color], [variant_ph_org_price], [variant_ph_new_price], [variant_ph_final_price], [variant_ph_img], [variant_ph_state]) VALUES (3, 2, 4, 64, N'Silver', 28000000, 16800000, 12600000, N'https://res.cloudinary.com/dp5ipjzct/image/upload/v1764069239/pdt_2__v2_cticha.jpg', N'Dùng 6 tháng, ngoại hình 93%, trầy rất nhẹ. Máy chạy mượt, màn đẹp. Kèm sạc và cường lực. Bảo hành 5 tháng.')
SET IDENTITY_INSERT [dbo].[Variant_Phone] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__713342DDAF6B8650]    Script Date: 11/29/2025 9:07:44 AM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[account_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_acc_var]    Script Date: 11/29/2025 9:07:44 AM ******/
ALTER TABLE [dbo].[Cart] ADD  CONSTRAINT [UQ_acc_var] UNIQUE NONCLUSTERED 
(
	[account_id] ASC,
	[variant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__783254B1249B88F8]    Script Date: 11/29/2025 9:07:44 AM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_variantID]    Script Date: 11/29/2025 9:07:44 AM ******/
ALTER TABLE [dbo].[Sale] ADD  CONSTRAINT [UQ_variantID] UNIQUE NONCLUSTERED 
(
	[variant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((1)) FOR [role_id]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT ((1)) FOR [cart_count]
GO
ALTER TABLE [dbo].[Hotline] ADD  CONSTRAINT [DF_Hotline_Default]  DEFAULT ((0)) FOR [hotline_default]
GO
ALTER TABLE [dbo].[Order_] ADD  DEFAULT ((0)) FOR [order_state]
GO
ALTER TABLE [dbo].[Variant_Phone] ADD  CONSTRAINT [DF_VariantPhone_State]  DEFAULT (N'Máy cũ nguyên zin, đã sử dụng được 6 tháng. Bảo hành 6 tháng phần cứng lẫn phần mềm!') FOR [variant_ph_state]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[Variant_Phone] ([variant_id])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Account]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Variant] FOREIGN KEY([variant_id])
REFERENCES [dbo].[Variant_Phone] ([variant_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Variant]
GO
ALTER TABLE [dbo].[Detail]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Order_] ([order_id])
GO
ALTER TABLE [dbo].[Detail]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[Variant_Phone] ([variant_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Detail]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[Variant_Phone] ([variant_id])
GO
ALTER TABLE [dbo].[Detail]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_NEW] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order_] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Detail] CHECK CONSTRAINT [FK_ORDER_NEW]
GO
ALTER TABLE [dbo].[Hotline]  WITH CHECK ADD  CONSTRAINT [FK_Hotline_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Hotline] CHECK CONSTRAINT [FK_Hotline_Account]
GO
ALTER TABLE [dbo].[Order_]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Order_]  WITH CHECK ADD FOREIGN KEY([hotline_id])
REFERENCES [dbo].[Hotline] ([hotline_id])
GO
ALTER TABLE [dbo].[Phone]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([company_id])
REFERENCES [dbo].[Company] ([company_id])
GO
ALTER TABLE [dbo].[Product_Image]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[Variant_Phone] ([variant_id])
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[Variant_Phone] ([variant_id])
GO
ALTER TABLE [dbo].[Variant_Phone]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [ck_cart_count] CHECK  (([cart_count]>(0)))
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [ck_cart_count]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [ck_stock_count] CHECK  (([stock_count]>=(0)))
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [ck_stock_count]
GO
